.containersS {
    width: 100%;
    height: 40px;
    background-color: #834444;
    color: rgb(0, 0, 0);
}

.headersSec{
    display: flex;
    flex-direction: row;
    align-items: center;
   
    
}
    

.sul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: px;
   
}
.sul>li{
    
    

}

.dropbtnsS {
    background-color: transparent;
    color: white;
    padding: 6px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdownS {
    position: relative;
    display: inline-block;
  }
  
  .dropdownS-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdownS-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdownS-content a:hover {background-color: #ddd;}
  
  .dropdownS:hover .dropdownS-content {display: block;}
  
  .dropdownS:hover .dropbtnS {background-color: white; color: #d8232a;}