.FooterContiners {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
}

.Fcaps {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.LeftFoot {
    width: 50%;
    height: 300px;
}

.RightFoot {
    width: 50%;
    height: 300px;
}

.FFooter {
    width: 100%;
    height: 100px;
}

.SFooter {
    width: 100%;
    height: 100px;
}

.Tfooter {
    width: 100%;
    height: 100px;
}

.RFFooter {
    width: 100%;
    height: 50%;
}

.RSFooter {
    width: 100%;
    height: 50%;
}

.FFooter>h4 {
    font-weight: 500;
    font-size: 20px;
    display: flex;
    padding: 10px;
}

.SFooter>h4 {
    font-weight: 500;
    font-size: 20px;
    display: flex;
    padding: 10px;
}

.five-column-list {
    columns: 5;
    list-style: none;
    align-items: center;
    justify-content: start;
    display: flex;
}

.five-column-list>li {
    width: 700px;
    align-items: center;
    justify-content: center;
    display: flex;


}

.Tfooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.RFFooter>h4 {
    font-weight: 500;
    font-size: 20px;
    display: flex;
    padding: 10px;
}
.RFFooter>span{
    display: flex;
    justify-content: start;
}

.RSFooter>h4 {
    font-weight: 500;
    font-size: 20px;
    display: flex;
    padding: 10px;
}